.homeCards{
width: 100%;
height: auto;
margin-bottom: 5%;
}

.homeCards h1{
margin-top: 5%;
padding-left: 4%;
margin-bottom: 4%;
}
.homeCards .card{
width: 380px;
height: auto;
float: left;
margin-bottom: 4%;
margin-left: 4%;
transition: all 0.4s;
}
.homeCards .card .img{
width: 100%;
height: 260px;
}
.homeCards .card .data{
height: auto;
text-align: center;
padding-bottom: 1%;
}
.homeCards .card .data h4{
font-size: 26px;
font-weight: 400;
margin-top: 3%;
}
.homeCards .card .data p{
width: 90%;
margin-left: 5%;
margin-top: -6%;
}


.homeCards .card:hover{
cursor: pointer;
background-color: rgb(246, 85, 85);
color:white
}



.payment{
width: 100%;
height: auto;
position: relative;
padding-top: 1%;
padding-bottom: 1%;
display: flex;
margin-top: 5%;
user-select: none;

background-color: rgb(251, 251, 251);
}
.payment .icons{
width: 40%;
height: 300px;
}
.payment .icons .img{
width: 70%;
margin-left: 9%;
}
.payment .titles{
font-size: 35px;
font-weight: 700;
width: 40%;
color: rgb(6, 93, 208);
line-height: 280px;
}
.payment .accecpt{
width: 20%;
height: 300px;
}

.payment .accecpt .img{
width: 80%;
margin-top: 40%;
}













.bottomSwiper{
width: 100%;
height: auto;
}



.bottomSwiper .BottomInner{
width: 400px;
height: 250px;
}
.bottomSwiper .BottomInner .imageBottom{
width: 100%;
height: 100%;
}