.orders{
width: 96%;
margin-left: 2%;
height: 500px;
margin-top: 10%;
position: relative;

}

.orders input[type="search"]::-webkit-search-decoration,
.orders input[type="search"]::-webkit-search-cancel-button,
.orders input[type="search"]::-webkit-search-results-button,
.orders input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.orders h1{
font-size: 17px;
color: red;
padding-left: 1%;
}

.orders h5{
position: absolute; 
top: -7%;
right: 2%;
font-size: 17px;
color: rgb(71, 10, 10);
padding-left: 1%;
}
.orders h5 span{
color: rgb(246, 66, 0);
font-size: 20px;
}
.orders h6{
margin-left: 3%;
color: blue;
font-size: 30px;
}
/* search bar */
.orders .searchBar{
width: 100%;
height: auto;
display: flex;
}
.orders .searchBar input{
width: 23.7%;
height: 40px;
margin-left: 1%;
padding-left: 1%;
margin-bottom: 2%;
font-size: 18px;
outline: none;
}
.orders .searchBar select{
width: 23.7%;
height: 40px;
cursor: pointer;
margin-left: 1%;
text-align: center;
margin-bottom: 2%;
font-size: 18px;
outline: none;
}


.orders .searchBar option {
    overflow: hidden;  
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 110px;
    font-size: 18px;
}


/* analysis section*/

.orders .analysis{
width: 100%;
margin-top: 2%;
display: flex;
height: auto;text-align: center;
margin-bottom: 5%;
font-size: 20px;
}


.orders .analysis .div4{
background-color: rgb(255, 186, 186);
border-radius: 5px;
color: red;cursor: pointer;
margin-right: 1%;
padding: 1% 2% 1% 2%;
}

.orders .analysis .div1{
background-color: #9edfff;
border-radius: 5px;
color: #000000;
margin-left: 1%;
margin-right: 1%;cursor: pointer;
padding: 1% 2% 1% 2%;
}

.orders .analysis .div2{
background-color: #9eff9e;
border-radius: 5px;
color: #078af5;margin-right: 1%;
padding: 1% 2% 1% 2%;cursor: pointer;
}

.orders .analysis .div3{
background-color: rgb(255, 224, 185);
border-radius: 5px;margin-right: 1%;
padding: 1% 2% 1% 2%;cursor: pointer;
color: rgb(253, 76, 0);

}


.orders .analysis .div5{
background-color: rgb(214, 185, 255);
border-radius: 5px;margin-right: 1%;
padding: 1% 2% 1% 2%;cursor: pointer;
color: rgb(255, 255, 255);
}












.orders .tables_section{
width: 100%;
padding-bottom: 10%;
height: auto;
}

.orders .tables_section .tableheading{
width: 98%;
margin-left: 1%;
height: auto;
padding-top: 2%;
text-transform: uppercase;
color: rgb(0, 0, 0);
padding-bottom: 2%;
display: flex;
background-color: rgb(240, 240, 240);
font-weight: 500;
display:flex;
font-size: 18px;
}


.orders .tables_section .contain{
position: relative;
border: 2px solid rgb(227, 227, 227);
width: 98%;
margin-bottom: 1%;
margin-left: 1%;
}
.orders .tables_section .contain .tableheaddata{
height: auto;
padding-top: 1%;
color: rgb(3, 152, 215);
text-transform: uppercase;
padding-bottom: 1%;
display: flex;
position: relative;
font-size: 18px;
text-shadow: 1px 1px 5px rgb(235, 235, 235);
font-weight: 700;
background-color: rgb(247, 247, 247);
}


.orders .tables_section .contain .tableheaddata .div1,.orders .tables_section .tableheading .div1{
width: 12%;
height: auto;text-align:center;
}
.orders .tables_section .contain .tableheaddata .div2,.orders .tables_section .tableheading .div2{
width: 22%;
word-wrap: normal;
height: auto;text-align:center;
}

.orders .tables_section .contain .tableheaddata .div3,.orders .tables_section .tableheading .div3{

width: 10%;
height: auto;text-align:center;
}
.orders .tables_section .contain .tableheaddata .div3{
justify-content: center;
align-items: center;
color: red;
}
.orders .tables_section .contain .tableheaddata .div4,.orders .tables_section .tableheading .div4{
width: 10%;
height: auto;text-align:center;
}


.orders .tables_section .contain .tableheaddata .div5,.orders .tables_section .tableheading .div5{
width: 10%;
height: auto;text-align:center;
}

.orders .tables_section .contain .tableheaddata .div6,.orders .tables_section .tableheading .div6{
width: 20%;
height: auto;
text-align:center;
word-wrap: break-word;
}
.orders .tables_section .contain .tableheaddata .div7,.orders .tables_section .tableheading .div7{
width: 13%;
height: auto;text-align:center;
}

.orders .tables_section .contain .tableheaddata .rej,.orders .tables_section .contain .tableheaddatasub .rej{
background-color: rgb(255, 186, 186);
border-radius: 30px;
color: white;
text-shadow: none;
padding-top: 4%; 
padding-bottom: 4%;
color: red;
}

.orders .tables_section .contain .tableheaddata .com,.orders .tables_section .contain .tableheaddatasub .com{
background-color: #9eff9e;
border-radius: 30px;
color: white;
padding-top: 4%; 
color: #014001;
text-shadow: none;
padding-bottom: 4%;
}

.orders .tables_section .contain .tableheaddata .pen,.orders .tables_section .contain .tableheaddatasub .pen{
background-color: rgb(255, 224, 185);
border-radius: 30px;
color: white;
padding-top: 4%;
color: rgb(253, 76, 0);
padding-bottom: 4%;
text-shadow: none;

}





/* sub data */
/* heading */
.orders .tables_section .contain .tableheadingsub{
height: auto;
padding-top: 0.5%;
text-transform: uppercase;
color: rgb(0, 0, 0);
padding-bottom: 0.5%;
display: flex;
width: 100%;
font-size: 17px;
font-weight: 500;
margin-left: 0;
box-shadow: 0px 0px 10px 1px rgb(232, 232, 232);
border-top: 2px solid rgb(148, 148, 148);
border-bottom: 2px solid rgb(148, 148, 148);
}

/* data */
.orders .tables_section .contain .tableheaddatasub{
width: 100%;
position: relative;
user-select: none;
height: auto;
padding-top: 2%;
color: rgb(87, 87, 87);
text-transform: uppercase;
padding-bottom: 1%;
display: flex;
font-size: 16px;
font-weight: 500;
border-bottom: 1px solid rgb(227, 227, 227);
}
.orders .tables_section .contain .tableheaddatasub:hover{

background-color: rgb(248, 248, 248);
}





.orders .tables_section .contain .tableheaddatasub .div1,.orders .tables_section .contain .tableheadingsub .div1{
width: 25%;
height: auto;text-align:center;

}
.orders .tables_section .contain .tableheaddatasub .div2,.orders .tables_section .contain .tableheadingsub .div2{
width: 10%;
height: auto;text-align:center;
}

.orders .tables_section .contain .tableheaddatasub .div3,.orders .tables_section .contain .tableheadingsub .div3{
width: 10%;
height: auto;text-align:center;
}
.orders .tables_section .contain .tableheaddatasub .div4,.orders .tables_section .contain .tableheadingsub .div4{
width: 20%;
height: auto;text-align:center;
}

.orders .tables_section .contain .tableheaddatasub .div4 span{
color: rgb(0, 187, 255);
float: right;
}
.orders .tables_section .contain .tableheaddatasub .div5,.orders .tables_section .contain .tableheadingsub .div5{
width: 12%;
height: auto;text-align:center;

}
.orders .tables_section .contain .tableheaddatasub .div6,.orders .tables_section .contain .tableheadingsub .div6{
width: 10%;
height: auto;text-align:center;

}

.orders .tables_section .contain .tableheadingsub .div7{
width:12%;
height: auto;text-align:center;
}
.orders .tables_section .contain .tableheaddatasub .div7{
width:12%;
height: auto;
text-align:center;
}

.orders .tables_section .contain .tableheadingsub .div8{
width: 15%;
height: auto;text-align:center;

}
.orders .tables_section .contain .tableheaddatasub .div8{
width: 15%;
height: auto;text-align:center;
font-size: 26px;
font-weight: 600;
color: rgb(87, 87, 87);
}
.orders .tables_section .contain .menu,.orders .tables_section .contain .close{
cursor: pointer;
}

/* drop down */
.orders .tables_section .contain .tableheaddatasub .options{
position: absolute;
top: 85%;
right: 5.5%;
z-index: 99;
width: 160px;
height: 110px;
box-shadow: 0px 2px 18px 5px rgb(165, 165, 165);
background-color: rgb(255, 255, 255);
}

.orders .tables_section .contain .tableheaddatasub .options div{
margin-top: 4%;
margin-bottom: 5%;
font-size: 19px;
padding-top: 1%;
padding-bottom: 1%;
position: relative;
font-weight: 500;
}

.orders .tables_section .contain .tableheaddatasub .options div:hover{
cursor: pointer;
background-color: rgb(234, 234, 234);
}
.orders .tables_section .contain .tableheaddatasub .options div .icon1{
color: rgb(3, 160, 245);
margin-left: 10%;
font-size: 30px;
}

.orders .tables_section .contain .tableheaddatasub .options div .icon2{
color: red;
margin-left: 10%;
font-size: 30px;
}

.orders .tables_section .contain .tableheaddatasub .options div .icon_1{
color: rgb(3, 160, 245);
margin-left: 5%;
position: absolute;
top: 15%;
cursor: pointer;
left: 28%;
}

.orders .tables_section .contain .tableheaddatasub .options div .icon_2{
color: red;
margin-left: 5%;
position: absolute;
cursor: pointer;

top: 15%;
left: 28%;
}






















/* update form */



.tableheaddatasub .update{
width: 100%;
position: relative;
user-select: none;
height: auto;
padding-top: 1%;
color: rgb(87, 87, 87);
text-transform: uppercase;
padding-bottom: 1%;
display: flex;
font-size: 16px;
z-index: 20;
font-weight: 500;
box-shadow: 0px 0px 12px 1px rgb(226, 226, 226);
position: absolute;
top: 0;
background-color: white;
left: 0;
}
.tableheaddatasub .update .tick{color: green;font-size: 30px;cursor: pointer;}
.tableheaddatasub .done{color: green;font-size: 30px;}
.tableheaddatasub .update .back{color: rgb(238, 71, 11);margin-left: 5%;cursor: pointer;}


.tableheaddatasub .update .div1{
width: 25%;
height: auto;text-align:center;

}
.tableheaddatasub .update .div2{
width: 10%;
height: auto;text-align:center;
}

.tableheaddatasub .update .div3{
width: 10%;
height: auto;text-align:center;

}
.tableheaddatasub .update .div4{
width: 20%;
height: auto;text-align:center;

}
.tableheaddatasub .update .div5{
width: 12%;
height: auto;text-align:center;

}
.tableheaddatasub .update .div6{
width: 10%;
height: auto;text-align:center;

}

.tableheaddatasub .update .div6 input{
width: 90%;
text-align: center;
font-size: 18px;
outline: none;
}
.tableheaddatasub .update .div7{
width:12%;
height: auto;
text-align:center;
}
.tableheaddatasub .update .div7 select{
width: 100%;
text-align: center;
font-size: 18px;
}

.tableheaddatasub .update .div8{
width: 15%;
height: auto;text-align:center;
font-size: 26px;
font-weight: 600;
color: rgb(87, 87, 87);
}